@import url('https://fonts.googleapis.com/css2?family=Syne:wght@600;700;800&family=DM+Sans:wght@300;400;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'DM Sans', sans-serif;
  background-color: #0c0a09;
  color: #fafaf9;
}

h1, h2, h3 {
  font-family: 'Syne', sans-serif;
}
